body {
	font-family: "Avenir Next";
	text-align: center;
	margin: 0;
}

ul {
	margin: 0;
}

li {
	list-style: none;
}

h1 {
	font-size: 60px;
	margin: 0;
	padding: 40px 0;
}

h2 {
	margin: 50px;
}

/* リンク */
a {
	text-decoration: none;
	color: black;
}

a:hover {
	font-weight: bold;
}

.btn {
	background: #7b68ee;
	padding: 40px 0;
	width: 400px;
	border-radius: 40px;
	margin: 0 auto;
}

.btn:hover {
	background: #6b58de;
}


/* header */

.header {
	background-color: #ff69b4;
	color: #fff;
/*	height: 90px;
*/	overflow: hidden;
}

.header-logo {
	font-size: 60px;
	padding: 20px 40px;
}

.header-logo a {
	text-decoration: none;
	color: white;
}

.line {
	height: 115px;
}

.header-list ul {
	padding: 0;
}

.header-list li {
/*	float: left;
*/	font-size: 50px;
	padding: 20px 0;
	background: #dd5099;
}

.header-list li a {
	text-decoration: none;
	color: white;
/*	background: #cac
*/}

.header-list li a:hover {
	color: black;
}

.left {
	width: 50%;
	float: left;
	position: center;
}

.right {
}


/* main */

.main {
	background-color: #eee;
	padding: 10px;
}

.main h1 {
	float: center;
}

.main a {
	color: white;
	font-size: 60px;
	text-decoration: none;
}

.main p {
/*	margin: 16px;
*/}

.main_img {
	width: 100%;
	height: 600px;
	background: url('image.jpg');
	background-size: cover;
}

.news {
	font-size: 50px;
	border: solid;
	border-color: black;
	margin: auto;
	margin-top: 40px;
	border-radius: 60px;
	width: 70%;
	height: 700px;
}

.news p {
	padding: 10px;
}

.not_center {
	text-align: left;
}


/* footer */

.footer {
	font-size: 40px;
	color: #555;
	background: #ccc;
	padding-top: 100px;
	padding-bottom: 500px;
}

.footer p {
	margin: 0;
}
